.card-container {
    justify-content: space-between;
    display: flex;
    margin-bottom: 50px;

}

.img-cube-small {
    position: relative;
    
}

.card-title {
    position: absolute;
    top: -4px;
    right: 24px;
    font-size: 14px;
 
    /* as we do not want it to hide the dropdown menu - 
    set the z-index to lower version */
    z-index: 1;
}


.inner-card-content {
    position: absolute;
    width: 280px;
    height: 175px;
    top: 26px;
    font-size: 13px;
    
}

.card-content-flex {
    
    justify-content: space-between;
    display: flex;
}

.legend > ul {
    list-style: none;
    padding-right: 25px;
    padding-right: 5pxl

}

.legend > ul > li {
    padding-top: 4px;
    /*margin-top:5px;*/
    
}

.card-description {
    margin-left: 5px;
    margin-right: 25px;
    
}

.card-img {
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 15px;
    
}
.card-img > img {
    border-bottom-left-radius: 8px;
    
}

.img-cube-med-container {
    position: relative;
    padding-bottom: 20px;
}

.img-cube-med-title {
    position: absolute;
    top: 3px;
    right: 15px;
    padding-right: 10px;

}
 
.img-cube-med-content {
   position: absolute;
   top: 45px;
   right: 15px;
   padding-right: 10px;

}

.breadcrumb {
    width: 440px;
    font-size: 12px;
    margin-bottom: 20px;
}

.breadcrumb > a {
    text-decoration: none;
    color: black;
}

.breadcrumb > a:hover {
    color: #0080C2;
    text-decoration: underline;
}


 .main-container-flex {
    display: flex;
    justify-content: space-between;
    
}
.contact-layout {
    width: 770px;
    margin-top: 30px;
    margin-right: 20px;
    
}
.page-title {
    width: 440px;
}

.page-title > h1 {
    font-size: 15px;
    color: #727187;
    border-bottom: solid;
    border-bottom-color: #cbcbcb;
    border-bottom-width: 1px;
}
.form-container {
    position: relative;
}

.form-card {
    position: absolute;
    top: 0;
    right: 5%;
    margin-left: 10px;
}

.form-card > h2 {
    color: #005ca0;
    font-size: 15px;
}

.fill-in-desc {
    color: #6d6d6d;
    font-size: 13px;
}

.form-contend > form > small, .text-input > label {
    font-size: 12px;
}

.text-input, .textarea-input, .action-button {
    padding: 2px;
    margin-left: 50px;
    margin-right: 50px;

  }

.text-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  

  .action-button {
      display: flex;
      justify-content: flex-end;

  }

  .action-button > input {
      background-color: #0080C2;
      color: white;
  }
  .img-cube-med-title > h3 {
      color: #005ca0;
      font-size: 15px;
  }
  .img-cube-med-content {
      font-size: 13px;
  }

  .img-cube-med-content > a{
      text-decoration: none;
      color: blue;
  }

  .img-cube-med-content > a:hover {
    text-decoration: underline;
  }