* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    text-align: right;
    margin: 0;
    font-family: "Arial (Hebrew)", Arial, sans-serif;
    
}
.container {
    width: 900px;
    margin: auto;
}

header {
  height: 105px; 
  background-image: linear-gradient(#8F8F8F,#DDDDDD); 

}
footer {
    position: fixed;
    bottom: 0;
    background-color: lightgray; /* for brwosers that do not support gradient */
    width: 100%;
    background-image: linear-gradient(#8F8F8F,#DDDDDD); 
    height: 40px;
    
}

nav {
    margin: 0;
    position: relative;
}

.main-menu-list {
    padding: 0;
    margin: 0 auto;
    height: 95px;
}
.footer-menu-list {
    padding: 0;
    margin: 0 0; 
}
.logo {
    position: absolute;
    top: 33%;
    right: -2.5%;
}

.sub-menu-list {
    margin: 0;
    margin-top: 6px;
    padding: 0;
    }

.menu-item {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;

    padding: 8px;  
    
}

.main-menu-item, .footer-menu-item {
    padding-right: 20px;
    padding-left: 20px;
    border-right-style: solid;
    
    border-width: 1px;
    border-color: white;
}

/* override the foother padding with smaller values */
.footer-menu-item {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 14px;
   
}

/* used to set additional flex attributes*/
.main-menu-list {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.sub-menu-item {
    display: block;
}
.menu-item > a {
    text-decoration: none;
    color: white;
    
}

.main-menu-item > a:hover, .footer-menu-item > a:hover {
    background-color:  rgb(188,188,188);
    color: #0080C2;
    text-decoration: underline;
}

/* do not exist in new menu - therefore remove it */
/*.main-menu-item:hover {
    background-color: rgb(188,188,188); 
}*/

.sub-menu-item:hover > a {
    color: #0080C2;
    text-decoration: underline;
    
}

/*
.sub-menu-item > a:hover {
         color: #0080C2;
     
 }
 */

.sub-menu-item:hover {
    background-color: rgb(188,188,188); 
}

.dropdown-container {
    position: relative;
}

/* advice with nir about the width */
.dropdown-menu {
    display: none;
    /* possible to give small min width and then if it is bigger it 
    will be extended, but anotehr option to insure no line break is to use &nbsp; */
    /*min-width: 160px;*/
    position: absolute;
    top: 100%;
    right: 1%;
    background-color: lightgray; /* for browsers not supporting gradient */
    background-image: linear-gradient(#DDDDDD, #8F8F8F); 
    /* we want the menu to be on top of the pictures i picture will get lower z-index */
    z-index: 2;
}
.main-menu-item:hover > .dropdown-menu {
    display: block;
}
.img-cube-cont {
    width: 293px;
    position: relative;
}

.img-cube {
    width: 100%;
    border-bottom-right-radius: 20px;
}

.inner-cube  {
    position: absolute;
    top: 68%;
    right:2%;
    background-color: rgba(132,132, 132, 0.9);
    width: 248px;
    border-bottom-right-radius: 20px;
    
}

.inner-cube-content {
    margin-right: 12px;
    margin-left: 12px;
    color: white;
    font-size: 13px;
 
}

.inner-cube-link {
    display: flex;
    justify-content: flex-end;
}



.inner-cube-link > a {
    text-decoration: none;
    color: white;
    text-align: left;
}

.inner-cube-content > p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.inner-cube-content > h3 {
    margin-top: 8px;
    margin-bottom: 3px;
}

.inner-cube-link > a:hover {
    color: #0080C2;
    text-decoration: underline;
}
.inner-cube-link > a > .arrow-link {
    display: none;
}
.inner-cube-link > a > .arrow-static {
    display: inline;
}


.inner-cube-link > a:hover > .arrow-link {
    display: inline;
}

.inner-cube-link > a:hover > .arrow-static {
    display: none;
}

.inner-cube-link > a:active > .arrow-link {
    display: inline;
}

.inner-cube-link > a:active > .arrow-static {
    display: none;
}


.cube-container {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
}

.card-container {
    justify-content: space-between;
    display: flex;
    margin-bottom: 50px;

}

.img-cube-small {
    position: relative;
    
}

.card-title {
    position: absolute;
    top: -4%;
    right: 14%;
    font-size: 14px;
 
    /* as we do not want it to hide the dropdown menu - 
    set the z-index to lower version */
    z-index: 1;
}


.inner-card-content {
    position: absolute;
    width: 280px;
    height: 175px;
    top:13%;
    font-size: 13px;
    
}

.card-content-flex {
    
    justify-content: space-between;
    display: flex;
}

.legend > ul {
    list-style: none;
    padding-right: 25px;
    padding-right: 5pxl

}

.legend > ul > li {
    padding-top: 4px;
    /*margin-top:5px;*/
    
}

.card-description {
    margin-left: 5px;
    margin-right: 25px;
    
}

.card-img {
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 15px;
    
}
.card-img > img {
    border-bottom-left-radius: 8px;
    
}

.inner-cube-sml-link {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}


.inner-cube-sml-link > a {
    text-decoration: none;
    color: black;
    /*text-align: left;*/
}



.inner-cube-sml-link > a:hover {
    color: #0080C2;
    text-decoration: underline;
}
.inner-cube-sml-link > a > .arrow-link {
    display: none;
}
.inner-cube-sml-link > a > .arrow-static {
    display: inline;
}


.inner-cube-sml-link > a:hover > .arrow-link {
    display: inline;
}

.inner-cube-sml-link > a:hover > .arrow-static {
    display: none;
}

.inner-cube-sml-link > a:active > .arrow-link {
    display: inline;
}

.inner-cube-sml-link > a:active > .arrow-static {
    display: none;
}

.home {
    /* not working - need more work - use crop image 
    background: url(images/menu_home.png) -18px 0; */
    padding-left: 5px;
    padding-right: 0px;
    margin-right: 10px; 
    border-right: none;
  } 

  .face-icon {
    padding-left: 5px;
    padding-right: 5px;
    
    border-right: none;
  }

  .search {
      position: absolute;
      left: 1%;
      top: 20%;

  }

  .search-inner {
      position: relative;
  }

  .search-input {
    position: absolute;
    left: 12%;
    top: 1%;
    width:125px;
  }
  .search-input > input {
      width: 100%;
      height: 15px;
  }

  .search-inner > .en {
      display: inline-block;
      margin-left: 10px;
      color: white;
      margin-bottom: 3px;
  }

  .search-inner > .en > a {
    color: white;
    font-size: 14px;
    text-decoration: none;
  }
  .contact-flex {
      display: flex;

  }

 .menu-bar {
     width: 110px;
     margin-top: 30px;
 }

 .menu-bar > img {
     width: 100%;
 }

 .img-cube-med-container {
     position: relative;
     padding-bottom: 20px;
 }
 
 .img-cube-med-title {
     position: absolute;
     top: -1%;
     right: 5%;
     padding-right: 10px;

 }
  
 .img-cube-med-content {
    position: absolute;
    top: 22%;
    right: 5%;
    padding-right: 10px;

 }



.breadcrumb {
    width: 440px;
    font-size: 12px;
    margin-bottom: 20px;
}

.breadcrumb > a {
    text-decoration: none;
    color: black;
}

.breadcrumb > a:hover {
    color: #0080C2;
    text-decoration: underline;
}


 .main-container-flex {
    display: flex;
    justify-content: space-between;
    
}
.contact-layout {
    width: 770px;
    margin-top: 30px;
    margin-right: 20px;
    
}
.page-title {
    width: 440px;
}

.page-title > h1 {
    font-size: 15px;
    color: #727187;
    border-bottom: solid;
    border-bottom-color: #cbcbcb;
    border-bottom-width: 1px;
}
.form-container {
    position: relative;
}

.form-card {
    position: absolute;
    top: 0;
    right: 5%;
    margin-left: 10px;
}

.form-card > h2 {
    color: #005ca0;
    font-size: 15px;
}

.fill-in-desc {
    color: #6d6d6d;
    font-size: 13px;
}

.form-contend > form > small, .text-input > label {
    font-size: 12px;
}

.text-input, .textarea-input, .action-button {
    padding: 2px;
    margin-left: 50px;
    margin-right: 50px;

  }

.text-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  

  .action-button {
      display: flex;
      justify-content: flex-end;

  }

  .action-button > input {
      background-color: #0080C2;
      color: white;
  }
  .img-cube-med-title > h3 {
      color: #005ca0;
      font-size: 15px;
  }
  .img-cube-med-content {
      font-size: 13px;
  }

  .img-cube-med-content > a{
      text-decoration: none;
      color: blue;
  }

  .img-cube-med-content > a:hover {
    text-decoration: underline;
  }
.footer-nav { 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
  .small_logo {
      width: 120px;
  }
  .small_logo > img {
      width: 100%;
  }