* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    text-align: right;
    margin: 0;
    font-family: "Arial (Hebrew)", Arial, sans-serif;
    
}
.container {
    width: 900px;
    margin: auto;
}

header {
  height: 105px;
  background-color: lightgray; /* For browsers that do not support gradients */
  background-image: linear-gradient(#8F8F8F,#AAAAAA); 
  background-image: linear-gradient(#8F8F8F,#DDDDDD); 
border: solid 1px black; /* to remove at the end */
}
footer {
    position: fixed;
    bottom: 0;
    background-color: lightgray; /* for brwosers that do not support gradient */
    width: 100%;
    background-image: linear-gradient(#8F8F8F,#AAAAAA); 
    background-image: linear-gradient(#8F8F8F,#DDDDDD); 
border: solid 1px black; /* to remove at the end */
    height: 50px;
    
}

nav {
    /* just to see the bounderies */
    border: solid 1px black;
    margin: 0;
    position: relative;
}

.menu-list {
    padding: 0;
    margin: 0 auto;
    height: 80px;
}
.logo {
    position: absolute;
    top: 40%;
    right: -2.5%;
}

.sub-menu-list {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    /*background-color: gray;*/
    }

.menu-item {
    display: inline-block;
    padding: 8px;
    /*
    padding-right: 8px;
    padding-left: 8px; */  
    
}

.main-menu-item, .footer-menu-item {
    
    font-size: 15px;
    font-weight: 700;
    padding-right: 20px;
    padding-left: 20px;
    border-right-style: solid;
    
    border-width: 1px;
    border-color: white;
}

/* override the foother padding with smaller values */
.footer-menu-item {
    padding-right: 10px;
    padding-left: 10px;
}

.sub-menu-item {
    font-size: 15px;
    display: block;
 
}
.menu-item > a {
    text-decoration: none;
    
}

.main-menu-item  > a, .footer-menu-item > a, .sub-menu-item  > a {

    color: white;
    
}


.main-menu-item > a:hover, .footer-menu-item > a:hover {
    background-color:  rgb(188,188,188);
    color: #0080C2;
    text-decoration: underline;
}

/* do not exist in new menu - therefore remove it */
/*.main-menu-item:hover {
    background-color: rgb(188,188,188); 
}*/

.sub-menu-item:hover > a {
   /* correct color but need to be on the li - not on the a */
   /*   background-color: rgb(188,188,188);*/
    color: #0080C2;
    text-decoration: underline;
    
}


.sub-menu-item > a:hover {
         color: #0080C2;
     
 }
 

.sub-menu-item:hover {
    background-color: rgb(188,188,188); 
}

.dropdown-container {
    position: relative;
}

/* advice with nir about the width */
.dropdown-menu {
    display: none;
    /* possible to give small min width and then if it is bigger it 
    will be extended, but anotehr option to insure no line break is to use &nbsp; */
    /*min-width: 160px;*/
    position: absolute;
    top: 100%;
    right: 1%;
    background-color: lightgray; /* for browsers not supporting gradient */
    background-image: linear-gradient(#8F8F8F,#AAAAAA);
    background-image: linear-gradient(#DDDDDD, #8F8F8F); 
    /* we want the menu to be on top of the pictures i picture will get lower z-index */
    z-index: 2;
/* just to see the bounderies */
border: solid 1px black;
}
.main-menu-item:hover > .dropdown-menu {
    display: block;
}
.img-cube-cont {
    width: 293px;
    position: relative;
    /* not needed as ancestor div hold the margin */
    /*margin-bottom: 15px; */
}

.img-cube {
    width: 100%;
    border-bottom-right-radius: 20px;
}

.inner-cube  {
    position: absolute;
    top: 68%;
    right:2%;
    background-color: rgba(132,132, 132, 0.9);
    width: 248px;
    border-bottom-right-radius: 20px;
    
}

.inner-cube-content {
    margin-right: 12px;
    margin-left: 12px;
    color: white;
    font-size: 13px;
 
}

.inner-cube-link {
    display: flex;
    justify-content: flex-end;
}



.inner-cube-link > a {
    text-decoration: none;
    color: white;
    text-align: left;
}

.inner-cube-content > p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.inner-cube-content > h3 {
    margin-top: 8px;
    margin-bottom: 3px;
}

.inner-cube-link > a:hover {
    color: #0080C2;
    text-decoration: underline;
}
.inner-cube-link > a > .arrow-link {
    display: none;
}
.inner-cube-link > a > .arrow-static {
    display: inline;
}


.inner-cube-link > a:hover > .arrow-link {
    display: inline;
}

.inner-cube-link > a:hover > .arrow-static {
    display: none;
}

.inner-cube-link > a:active > .arrow-link {
    display: inline;
}

.inner-cube-link > a:active > .arrow-static {
    display: none;
}

.flex-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border: solid 1px black;
}

.flex-container-cube {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: solid 1px black;
}

.flex-container-card {
    justify-content: space-between;
    display: flex;
    border: solid 1px black;
}

.img-cube-small {
    position: relative;
    
}

.card-title {
    position: absolute;
    top: -4%;
    right: 14%;
    font-size: 14px;
 
    /* as we do not want it to hide the dropdown menu - 
    set the z-index to lower version */
    z-index: 1;
}


.inner-card-content {
    position: absolute;
    width: 280px;
    height: 175px;
    top:13%;
    border: solid 1px black;
    font-size: 13px;
    
}

.card-content-flex {
    
    justify-content: space-between;
    display: flex;
    /*border: solid 1px black;*/
}

.legend > ul {
    list-style: none;
    padding-right: 25px;
    padding-right: 5pxl

}

.legend > ul > li {
    padding-top: 4px;
    /*margin-top:5px;*/
    
}

.card-description {
    margin-left: 5px;
    margin-right: 25px;
    
}

.card-img {
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 15px;
    
}
.card-img > img {
    border-bottom-left-radius: 8px;
    
}

.inner-cube-sml-link {
    display: flex;
    justify-content: flex-end;
}


.home {
    /* not working - need more work - use crop image 
    background: url(images/menu_home.png) -18px 0; */
    padding-left: 5px;
    padding-right: 0px;
    margin-right: 10px; 
    border-right: none;
  } 

  .face-icon {
    padding-left: 5px;
    padding-right: 5px;
    
    border-right: none;
  }

