* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    text-align: right;
    margin: 0;
}
.container {
    width: 900px;
    margin: auto;
}

header {
  height: 100px;
  background-color: lightgray; /* For browsers that do not support gradients */
  background-image: linear-gradient(#8F8F8F,#AAAAAA); 
  background-image: linear-gradient(#8F8F8F,#DDDDDD); 
border: solid 1px black; /* to remove at the end */
}
footer {
    position: fixed;
    bottom: 0;
    background-color: lightgray; /* for brwosers that do not support gradient */
    width: 100%;
    background-image: linear-gradient(#8F8F8F,#AAAAAA); 
    height: 50px;
    
}

nav {
    /* just to see the bounderies */
    border: solid 1px black;
    margin: 0;
    position: relative;
}

.menu-list {
    padding: 0;
    margin: 0 auto;
    height: 80px;
    width: 750px;
    /*  */
}
.logo {
    position: absolute;
    top: 40%;
}

.sub-menu-list {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    /*background-color: gray;*/
    }

.menu-item {
    display: inline-block;
    margin: 3px;
    padding-right: 8px;
    padding-left: 8px;
    font-family: Arial;
    
    
}

.main-menu-item {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}

.sub-menu-item {
    font-size: 16px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
   /* border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;*/
}
.menu-item > a {
    text-decoration: none;
    
}

.main-menu-item  > a {
    /*color: white;*/
    color: black; 
}

.sub-menu-item  > a {
    /* color: white; */
    color: black;
   /*display: block;*/
}


.main-menu-item > a:hover {
    background-color:  rgb(188,188,188);
    color: #0080C2;
    text-decoration: underline;
}

.main-menu-item:hover {
    background-color: rgb(188,188,188); 
}

.sub-menu-item:hover > a {
   /* correct color but need to be on the li - not on the a */
   /*   background-color: rgb(188,188,188);*/
    color: #0080C2;
    text-decoration: underline;
    
}


.sub-menu-item > a:hover {
         color: #0080C2;
     
 }
 

.sub-menu-item:hover {
    background-color: rgb(188,188,188); 
}

.dropdown-container {
    position: relative;
}

/* advice with nir about the width */
.dropdown-menu {
    display: none;
    width: 180px;
    position: absolute;
    top: 100%;
    right: 1%;
    background-color: lightgray; /* for browsers not supporting gradient */
    background-image: linear-gradient(#8F8F8F,#AAAAAA);
    background-image: linear-gradient(#DDDDDD, #8F8F8F); 
/* just to see the bounderies */
border: solid 1px black;
}
.main-menu-item:hover > .dropdown-menu {
    display: block;
}

.flex-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border: solid 1px black;
}