* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    text-align: right;
}
.container {
    width: 900px;
}

header {
    background-color: gray;

}
footer {
    position: fixed;
    bottom: 0;
    background-color: gray;
    width: 100%;
    
}

.menu-list {
    list-style: none;
}

.menu-item {
    display: inline;

}

.menu-item > a {
    color: white;
    text-decoration: none;
}
